.ward {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ward-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  row-gap: 10px;
}
