.Parent-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}
.Parent-footer {
    grid-column-start: 1 ;
    grid-column-end: 3;
}

.Parent-child {
 
    display: grid;
    gap: 20px ;  
    grid-template-columns: auto auto;

}

.eli-heading {
    grid-column-start: 1 ;
    grid-column-end: 3;
}

.Parent-child9 {
    grid-column-start: 1 ;
    grid-column-end: 3;
}



